name = "insight-edu-backend"
main = "src/worker.js"
compatibility_date = "2024-12-20"
compatibility_flags = ["nodejs_compat_v2"]
type = "service"

vars = { ENVIRONMENT = "production", JWT_EXPIRES_IN = "24h" }

[[d1_databases]]
binding = "DB"
database_name = "insight-edu"
database_id = "a72ec55a-1171-4ada-af45-443ba8e56fc2"

[build]
command = "npm run build"
cwd = "."

[observability]
enabled = true
